@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.after_border {
  position: relative;
}

.after_border:hover::after {
  content: "";
  position: absolute;
  background-image: url(../src/assets/image/svg/btn_Border_Top.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 73.6px;
  height: 14.21px;
  top: -3px;
  left: -14px;
}

.after_border_b {
  position: relative;
}

.after_border_b:hover:before {
  content: "";
  position: absolute;
  background-image: url(../src/assets/image/svg/btn_Border_Bottom.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 73.6px;
  height: 14.21px;
  bottom: -4.5px;
  right: -13px;
}

.get_started_btn {
  position: relative;
}

.get_started_btn::before {
  content: "";
  position: absolute;
  background-image: url(../src/assets/image/webp/getButton.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 151px;
  height: 47.19px;
  bottom: 0;
  right: 0;
  z-index: 10;
}

.btn_Contact {
  background-image: url(../src/assets/image/webp/getButton.webp);
  background-repeat: no-repeat;
}

.btn_Contact:hover {
  transform: scale(0.9);

}

.custom_duration {
  transition: all 500ms linear !important;
}

.after_Newsletter {
  position: relative;
}

.after_Newsletter::after {
  content: "";
  position: absolute;
  background-image: url(./assets/image/svg/our_Newletter_Top.svg);
  width: 373px;
  height: 22px;
  top: -2px;
  left: -11px;
}

.after_Newsletter_2::before {
  content: "";
  position: absolute;
  background-image: url(./assets/image/svg/our_Newletter_Bottom.svg);
  width: 373px;
  height: 22px;
  bottom: -10px;
  right: -25px;
}
.gaming_After {
  position: relative;
}
.gaming_After::after {
  content: "";
  position: absolute;
  background-image: url(./assets/image/svg/gaming_After.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 421px;
  height: 21.5px;
  top: 5px;
  left: -5px;
}
.feature_Slider .slick-track {
  display: flex !important;
}

.feature_Slider .slick-track .slick-slide {
  margin: 0 12px;
}
.gaming_Before::before {
  content: "";
  position: absolute;
  background-image: url(./assets/image/svg/gaming_Innovation_Bottom.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 421px;
  height: 21.5px;
  bottom: -3px;
  right: 103px;
}
.gaming_Before_2::before {
  content: "";
  position: absolute;
  background-image: url(./assets/image/svg/gaming_Innovation_Bottom.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 421px;
  height: 21.5px;
  bottom: -3px;
  right: -20px;
}
.slider_center .slick-track {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.slider-dots {
  position: absolute;
  bottom: -50px;
  display: flex;
  align-items: center;
}
.slick-dots li.slick-active button:before {
  font-size: 0;
}
.slick-dots li button:before {
  font-size: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
.slick-dots li {
  background: white;
  opacity: 70%;
  border-radius: 8px !important;
  width: 50px !important;
  height: 10px !important;
  margin: 0px 8px !important;
  cursor: pointer;
  transition: all 200ms linear;
}
.slick-dots {
  gap: 10px !important;
  display: flex !important;
}
.hover_effect:hover {
  transform: scale(1.1);
}
.slick-dots li.slick-active {
  background: linear-gradient(90deg, #FF1E2F 0%, #3EBFFF 100%);
  border-radius: 30px;
  height: 10px;
  width: 172px !important;
}
.transition-transform {
  transition: transform 0.3s ease;
}
 
.cross span:nth-child(1) {
  transform: rotate(45deg) translateY(13px) translateX(0px);
}

.cross span:nth-child(2) {
  transform: translateX(-100%);
  opacity: 0;
}

.cross span:nth-child(3) {
  transform: rotate(-45deg) translateY(-13px) translateX(0px);
}
  
@media (max-width: 1040px) {
  .gaming_Before::before {
    right: 40px;
  }

  .flex_wrap {
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {
  .gaming_Before::before {
    right: 103px;
  }

  .gaming_Before::before {
    display: none;
  }

  .gaming_After::after {
    display: none
  }

  .gaming_Before_2::before {
    display: none;
  }

  .gaming_Before::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .after_Newsletter::after {
    display: none;
  }

  .after_Newsletter_2::before {
    display: none;
  }
}

@media (max-width: 575px) {
  .slick-dots li.slick-active {
    width: 100px !important;
  }

  .slick-dots li {
    width: 30px !important;
  }
}